html {
	@media (max-width: 1506px) {
	font-size: 14px;
	}
	@media (max-width: 1200px) {
		font-size: 12px;
	}
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-image: url('../images/bg.jpg');
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Source Code Pro', monospace;
	color: white;
	font-weight: bolder;
}

* {
	box-sizing: border-box;
}

.header {
	width: 100vw;
	max-height: 300px;
  
  &__ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	width: 100%;
	list-style: none;
  }
  
  &__li {
	padding: 1.25rem 2.1875rem;
  }
  
  &__a {
	color: white;
	text-decoration: none;
	font-size: 1.875rem;

	&:hover {
		text-decoration: underline;
	}
  }
}

.footer {
	height: 1.875rem;
	width: 100vw;
	font-size: 0.9375rem;
	font-weight: lighter;
	color: rgba(255, 255, 255, 0.568);
	text-align: center;
	display: none;
}


.container {
	width: 100vw;
	min-height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center
}

.text-big {
	font-size: 6.25rem;
}

.container-movies {
	justify-content: space-evenly;
}




//register form

.register {
	width: 18.75rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color:white;
	border-radius: 10px;
	padding-top: 50px;
	padding-bottom: 50px;

	&__title {
		font-weight: bolder;
		font-size: 30px;
		color: black;
		margin: 10px 0px 20px 0px;
	}

	&__input {
		width: 80%;
		background-color: transparent;
		padding: 10px;
		outline: none;
		margin: 10px;
		border: none;
		border-bottom: 1px solid black;
	}

	&__submit {
		width: 80%;
		height: 2.1875rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		border-radius: 5px;
		background: red;
		font-size: 18px;
		border: none;
		outline: none;
		margin: 50px 0 20px 0;

		&:hover {
			cursor: pointer;
		}
	}
}



//movie cart


.movie {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 21.875rem;
	min-height: 34.375rem;
	position: relative;
	box-sizing: content-box;
	padding: 0.625rem;
	text-decoration: none;
	color: white;

	& > * {
		margin-top: 10px;
	}

	&__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-color: black;
		box-shadow: 0px 0px 20px 17px black;
		opacity: 70%;
	}

	&__genre {
		width: 100%;
		text-align: right;
		padding: 5px;
		font-weight: lighter;
		font-size: 1rem;
	}

	&__title {
		font-size: 1.375rem;
		font-weight: bold;
	}

	&__description {
		font-size: 1rem;
		font-weight: lighter;
	}

	&__image-wrapper {
		height: 150px;
		width: 100%;
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 0 20%;
	}
}



//single movie 

.single-movie {
	display: flex;
	align-items: flex-start;
	
	@media(max-width: 992px) {
		flex-direction: column;
		align-items: center;
	}
	
	&__info {
		width: 50%;
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 1.875rem;
	}

	&__container{
		max-width: 48.75rem;
		min-width: 48.75rem;
		display: flex;
		flex-wrap: wrap;
		margin: 30px;
	}
	
	&__reservation-button {
		width: 9.375rem;
		height: 2.5rem;
		font-size: 1.25rem;
		margin: 3.125rem auto;
	}

	&__title {
		width: 100%;
		text-align: center;
		font-size: 3.125rem;
		font-weight: bolder;
		margin-top: 4.375rem;
	}

	&__description {
		font-weight: bold;
		font-size: 1.125rem;
		margin-top: 3.125rem;
	}

	&__seat {
		height: 35px;
		width: 35px;
		margin: 2px;
	}
}
